@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  width: 1920px;
  font-family: "Roboto", sans-serif;
  background-color: darkgrey;
}

main {
  margin-top: 50px;
  margin-left: 30px;
}

main img {
  /* width: 300px; */
  height: 160px;
  object-fit: contain;
  margin-top: 30px;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}
