@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  width: 1920px;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.logo {
  width: 140px;
  margin-left: 15px;
  margin-top: 20px;
}

.category-title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 35px;
}
main {
  margin-left: 40px;
  margin-bottom: 100px;
}

.movie-images {
  width: 220px;
  height: 120px;
  object-fit: contain;
  margin-top: 20px;
}

.image-block {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-block::-webkit-scrollbar {
  display: none;
}
